@model IEnumerable<PO01_GomezRafael_v1.Models.Recomendacion>

@{
    ViewData["Title"] = "Recomendaciones";
}

<h1>Recomendaciones</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProducto)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProducto)
            </td>
        </tr>
}
    </tbody>
</table>
