@model PO01_GomezRafael_v1.Models.ProductoRecomendacion

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto.Dimensiones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto.Dimensiones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto.Proveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto.CantidadEnStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto.CantidadEnStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto.PrecioVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto.PrecioVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto.PrecioProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto.PrecioProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto.GamaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto.GamaNavigation.Gama)
        </dd>
    </dl>
</div>
@if (Model.recomendaciones.Any())
{
    <h3>Recomendaciones</h3>
    <table class="table">
        <tbody>
            @foreach (var item in Model.recomendaciones)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estacion)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>Todavía no hay recomendaciones</h1>
}
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
