@model IEnumerable<PO01_GomezRafael_v1.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimensiones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEnStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamaNavigation)
            </th>
            <th>
                Operaciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(n => n.Nombre).Take(15)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensiones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadEnStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamaNavigation.Gama)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CodigoProducto">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
